@tailwind base;      /* This directive is required */
@tailwind components; /* Optional: use if you have custom components */
@tailwind utilities;  /* This directive is required */

@layer base {
  :root {
    --background: 0 0% 100%;
    /* Add your custom styles here */
  }
}
@layer utilities{
  .gradient{
    @apply bg-gradient-to-br from-gray-500 via-gray-200 to-white  
  }

  .gradient-title{
    @apply gradient text-transparent bg-clip-text;

  }
}
.wmde-markdown ul{
  list-style-type: disc;
  padding-left: 25px;
  color: white;
}
